.login-form{
  background-color:whitesmoke;
  max-width:300px;
  padding:15px;
  margin:auto;
  margin-top: 10%;
  height: 150%; 
}

.button2{
  border-radius:50%;
  background-color:#B22222;
  color:#fff;
  outline:none;
  cursor:pointer;
  text-align:center;
  font-size:18px;
  border:none;
  margin:20px;
  box-shadow: 0 9px #999;
}

.button3 {
  display: inline-block;
  margin: 10px;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#008000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.add-form{
  background: whitesmoke;
  max-width:25%;
  padding:15px;
  margin-top:10px;
  height:150%;
  margin:auto;
}

.plan-form{
  background: whitesmoke;
  max-width:100%;
  padding:15px;
  margin-top:10px;
  height:150%;
}

.login-label{
  margin-left:4px;
  color:black;
}

.user-message{
  margin-left:100px;
  color:darkslategray;
}

.update-message{
  margin-left:30px;
  color:darkslategray;
}

.radio-label{
  margin-left:30px;
}
.add-label{
  margin-left:4px;
  margin-right: 10px;
  color:#32cd32;
}
.body{
  margin:0;
  padding:0;
  background-size:cover;
}

.date-input{
  max-width:80px;
  text-align: center;
  margin-bottom: 30px;
}

.input{
  outline:none;
  border:none;
}

.input-add{
  align-self: flex-start
}

table{
  width:600px;
  text-align:left;
  margin:auto;
  margin-top:10px;
}
th{
  height:50px;
  padding:15px;
  border-bottom:1px solid #ddd;
  background-color: #FF0033	;
  color: white;
}
tr:hover {background-color: #f5f5f5;}

td{
  padding:15px;
  border-bottom:1px solid #ddd
}

p{
  color:#FF0033	;
}